<div class="row g-2">
    <div class="col-md-4">
      <div class="pricing-item">
        <h3>Free Plan</h3>
        <div class="icon">
          <i class="bi bi-box"></i>
        </div>
        <h4><sup>$</sup>0<span> / month</span></h4>
        <ul>
          <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
        </ul>
        <div class="text-center">
          <input type="radio" id="free_plan" name="subscription_plan" value="free" required>
          <label for="free_plan">Choose Free Plan</label>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="pricing-item featured">
        <h3>Business Plan</h3>
        <div class="icon">
          <i class="bi bi-rocket"></i>
        </div>

        <h4><sup>$</sup>29<span> / month</span></h4>
        <ul>
          <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
        </ul>
        <div class="text-center">
          <input type="radio" id="business_plan" name="subscription_plan" value="business">
          <label for="business_plan">Choose Business Plan</label>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="pricing-item">
        <h3>Developer Plan</h3>
        <div class="icon">
          <i class="bi bi-send"></i>
        </div>
        <h4><sup>$</sup>49<span> / month</span></h4>
        <ul>
          <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
        </ul>
        <div class="text-center">
          <input type="radio" id="developer_plan" name="subscription_plan" value="developer">
          <label for="developer_plan">Choose Developer Plan</label>
        </div>
      </div>
    </div>
  </div>