#add-target:hover {
    cursor: pointer;
    background-color: rgb(184, 175, 175);
}

.task:hover {
    cursor: pointer;
    background-color: rgb(98, 0, 255) !important;
}

.task:hover p {
    color: white !important;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.popup-content {
    /*text-align: center;*/
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
