{% extends "general/index.html" %}

{%block home%}
<section>
    <div class="">
        <div class="row">
            {%for blog in blogs%}
            <div class="col-md-4">
                
                <div class="m-1 border rounded-top">
                    <div class="">
                        <a href="{% url 'projects:blog_details' blog.slug %}">
                            <img class="rounded img-fluid" src="{{blog.image.url}}">
                        </a>
                    </div>
                    <div class="">
                        <a href="{% url 'projects:blog_details' blog.slug %}">
                            <h2 class="text-center m-2 border-bottom">{{blog.title|title}}</h2>
                        </a>
                        <div class="m-2">
                            <small>Author: {{blog.author.first_name}} {{blog.author.last_name}}</small><span> - {{blog.publish_date}}</span>
                        </div>
                        <div class="m-2">
                            <p>{{blog.description|slice:":150"}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
            {%endfor%}
        </div>
    </div>
</section>
{%endblock%}