{% extends "general/index.html" %}
{%load static%}

{% block extra_css %}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }
      
      footer {
        margin-top: auto;
        background-color: #333;
        color: #fff;
        padding: 20px;
      }

    .bg-class {
        margin: 0;
        padding: 0;
        background-image: url('{{ project.get_image_url }}');
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }
</style>
{% endblock %}

{% block javascript %}
<script src="{% static 'assets/js/more.js' %}"></script>
{%endblock%}


{%block project %}
<div class="bg-class">
  <div class="d-flex m-2">
      <div class="ms-2 mt-2">
          <h5 class="bg-secondary text-white rounded ps-1 pe-1">{{project.name}}</h5>
      </div>
  </div>
  <div class="row m-2">
    <div class="col-md-2">
      <div class="card p-2">
        {% for task in project_tasks %}
        <div class="border bg-light p-2 mb-1 rounded task" data-pk="{{task.pk}}">
          <p>{{task.name}}</p>
        </div>
        {%endfor%}
        <h6 class="mt-2 p-2 rounded" id="add-target"> + Add target</h6>
      </div>
    </div>
  </div>
</div>

<div id="popup" class="popup rounded">
  <div class="popup-content">
      <span class="close" onclick="closePopup()">&times;</span>
      <div class="">
        <form action="{% url 'projects:project_details' project.slug project.security_key %}" method="post">
          {%csrf_token%}
          {{form.as_p}}
          <div class="mt-2">
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </form>
      </div>
  </div>
</div>

<div id="popupTask" class="popup rounded">
  <div class="popup-content">
      <span class="close" onclick="closeTaskPopup()">&times;</span>
      <div id="taskPopupDetails">

      </div>
  </div>
</div>

{% endblock%}
